.ellipseIcon,
.ellipseIcon1,
.ellipseIcon2,
.ellipseIcon3 {
  position: absolute;
  top: 767.18px;
  left: 23.78px;
  width: 27.99px;
  height: 27.99px;
}
.ellipseIcon1,
.ellipseIcon2,
.ellipseIcon3 {
  top: 715.17px;
}
.ellipseIcon2,
.ellipseIcon3 {
  top: 659.99px;
  left: 24.34px;
}
.ellipseIcon3 {
  top: 607.79px;
}
.ellipseIcon4,
.ellipseIcon5,
.ellipseIcon6,
.ellipseIcon7,
.rectangleButton {
  position: absolute;
  top: 462.87px;
  left: 23.78px;
  width: 27.99px;
  height: 27.99px;
}
.ellipseIcon5,
.ellipseIcon6,
.ellipseIcon7,
.rectangleButton {
  top: 411.67px;
}
.ellipseIcon6,
.ellipseIcon7,
.rectangleButton {
  top: 356.89px;
  left: 24.34px;
}
.ellipseIcon7,
.rectangleButton {
  top: 304.49px;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f80d38;
  top: 560.24px;
  left: 108.04px;
  width: 107.84px;
  height: 27.45px;
}
.lineDiv {
  top: 257.09px;
  left: -0.5px;
  border-top: 1px solid #3d3d3d;
  width: 324.4px;
  height: 1px;
}
.lineDiv,
.lineDiv1,
.lineDiv2,
.lineDiv3 {
  position: absolute;
  box-sizing: border-box;
}
.lineDiv1 {
  top: 521.94px;
  left: -0.5px;
  border-top: 1px solid #3d3d3d;
  width: 324.4px;
  height: 1px;
}
.lineDiv2,
.lineDiv3 {
  top: 559.26px;
  left: 107.01px;
  border-right: 1px solid #3d3d3d;
  width: 1px;
  height: 30.12px;
}
.lineDiv3 {
  left: 215.38px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 323.4px;
  height: 825.96px;
}
.oVERALLAPPOINTMENTSB,
.pREVIOUSAPPOINTMENTSB,
.uPCOMINGAPPOINTMENTSB {
  position: absolute;
  top: 13.49px;
  left: 15.27px;
  display: inline-block;
}
.pREVIOUSAPPOINTMENTSB,
.uPCOMINGAPPOINTMENTSB {
  top: 273.95px;
}
.pREVIOUSAPPOINTMENTSB {
  top: 535.54px;
}
.drBridgetOlowojeje,
.drIbrahimYekeni,
.drIbrahimYekeni1,
.drScutTom {
  position: absolute;
  top: 307.67px;
  left: 57.22px;
  display: inline-block;
}
.drBridgetOlowojeje,
.drIbrahimYekeni1,
.drScutTom {
  top: 610.97px;
}
.drBridgetOlowojeje,
.drIbrahimYekeni1 {
  top: 414.85px;
  left: 56.65px;
}
.drIbrahimYekeni1 {
  top: 718.15px;
}
.drAminaAhmed,
.drBanabasPaul,
.drEbukaKelechi,
.drMichaelStwart {
  position: absolute;
  top: 359.87px;
  left: 57.22px;
  display: inline-block;
}
.drAminaAhmed,
.drBanabasPaul,
.drMichaelStwart {
  top: 663.17px;
}
.drBanabasPaul,
.drMichaelStwart {
  top: 467.05px;
  left: 56.65px;
}
.drBanabasPaul {
  top: 770.35px;
}
.dAYB,
.fridayAugust11,
.mONTHB,
.tuesdayOctober24,
.wEEKB {
  position: absolute;
  top: 568.32px;
  left: 52.25px;
  display: inline-block;
}
.fridayAugust11,
.mONTHB,
.tuesdayOctober24,
.wEEKB {
  left: 148.86px;
}
.fridayAugust11,
.mONTHB,
.tuesdayOctober24 {
  left: 245.92px;
}
.fridayAugust11,
.tuesdayOctober24 {
  top: 317.3px;
  left: 215.11px;
}
.fridayAugust11 {
  top: 620.6px;
  left: 231.77px;
}
.fridayNovember13,
.mondayNovember2,
.wednesdayJuly12 {
  position: absolute;
  top: 424.49px;
  left: 218.36px;
  display: inline-block;
}
.mondayNovember2,
.wednesdayJuly12 {
  top: 727.79px;
  left: 220.63px;
}
.mondayNovember2 {
  top: 369.5px;
  left: 210.92px;
}
.mondayJune14,
.thursdayDecember9,
.tuesdayJuly30 {
  position: absolute;
  top: 672.8px;
  left: 230.92px;
  display: inline-block;
}
.mondayJune14,
.thursdayDecember9 {
  top: 476.69px;
  left: 205.92px;
}
.mondayJune14 {
  top: 779.99px;
  left: 230.36px;
}
.consultationB,
.emergencyB,
.examinationB,
.sICKVISITB {
  position: absolute;
  top: 317.3px;
  left: 57.22px;
  display: inline-block;
  color: #100db1;
}
.consultationB,
.examinationB,
.sICKVISITB {
  top: 620.6px;
  color: #2798f7;
}
.consultationB,
.examinationB {
  top: 424.49px;
  left: 56.65px;
  color: #763cef;
}
.examinationB {
  top: 727.79px;
  color: #feca57;
}
.consultationB1,
.emergencyB1,
.examinationB1,
.routineCheckupB {
  position: absolute;
  top: 369.5px;
  left: 57.22px;
  display: inline-block;
  color: #feca57;
}
.consultationB1,
.emergencyB1,
.routineCheckupB {
  top: 672.8px;
  color: #763cef;
}
.emergencyB1,
.routineCheckupB {
  top: 476.69px;
  left: 56.65px;
  color: #f80d38;
}
.emergencyB1 {
  top: 779.99px;
  color: #100db1;
}
.cONSULTATIONB,
.eMERGENCYB,
.eXAMINATIONB,
.rOUTINECHECKUPB,
.sICKVISITB1 {
  position: absolute;
  top: 214.56px;
  left: 27.42px;
  font-size: 6px;
  display: inline-block;
}
.cONSULTATIONB,
.eXAMINATIONB,
.rOUTINECHECKUPB,
.sICKVISITB1 {
  left: 97.04px;
}
.cONSULTATIONB,
.rOUTINECHECKUPB,
.sICKVISITB1 {
  left: 172.77px;
}
.rOUTINECHECKUPB,
.sICKVISITB1 {
  left: 251.5px;
}
.sICKVISITB1 {
  top: 232.9px;
  left: 25.34px;
}
.ellipseIcon8 {
  position: absolute;
  top: 215.88px;
  left: 15.27px;
  width: 6.36px;
  height: 6.36px;
}
.ellipseIcon10,
.ellipseIcon11,
.ellipseIcon12,
.ellipseIcon9 {
  position: absolute;
  top: 215.88px;
  left: 86.08px;
  width: 6.36px;
  height: 6.36px;
}
.ellipseIcon10,
.ellipseIcon11,
.ellipseIcon12 {
  left: 161.7px;
}
.ellipseIcon11,
.ellipseIcon12 {
  left: 241.43px;
}
.ellipseIcon12 {
  top: 234.22px;
  left: 15.27px;
}
.aprilB,
.aprilB1,
.julyB,
.julyB1,
.julyB2,
.julyB3,
.juneB,
.mayB,
.mayB1 {
  position: absolute;
  width: 5.57%;
  top: calc(50% - 10.5px - 208.93px);
  right: 67.82%;
  left: 26.61%;
  font-size: 7px;
  line-height: 21px;
  display: inline-block;
  text-align: center;
}
.aprilB1,
.julyB,
.julyB1,
.julyB2,
.julyB3,
.juneB,
.mayB,
.mayB1 {
  width: 5.26%;
  right: 90.03%;
  left: 4.71%;
}
.julyB,
.julyB1,
.julyB2,
.julyB3,
.juneB,
.mayB,
.mayB1 {
  width: 4.95%;
  right: 57.03%;
  left: 38.02%;
}
.julyB,
.julyB1,
.julyB2,
.julyB3,
.juneB,
.mayB1 {
  right: 79.24%;
  left: 15.82%;
}
.julyB,
.julyB1,
.julyB2,
.julyB3,
.juneB {
  width: 4.64%;
  right: 46.54%;
  left: 48.82%;
}
.julyB,
.julyB1,
.julyB2,
.julyB3 {
  width: 5.26%;
  right: 35.44%;
  left: 59.3%;
}
.julyB1,
.julyB2,
.julyB3 {
  width: 4.02%;
  right: 25.58%;
  left: 70.4%;
}
.julyB2,
.julyB3 {
  width: 4.64%;
  right: 15.09%;
  left: 80.27%;
}
.julyB3 {
  width: 4.33%;
  right: 4.92%;
  left: 90.76%;
}
.rectangleCopy5 {
  height: 100%;
  top: 0;
  border-radius: 12px;
  background-color: #1e19b6;
  opacity: 0.8;
  mix-blend-mode: normal;
}
.rectangleCopy25,
.rectangleCopy4,
.rectangleCopy5,
.rectangleCopy6 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangleCopy4 {
  height: 62.11%;
  top: 37.89%;
  background-color: #763cef;
  mix-blend-mode: normal;
}
.rectangleCopy25,
.rectangleCopy6 {
  height: 48.45%;
  top: 51.55%;
  background-color: #f80d38;
}
.rectangleCopy25 {
  height: 31.06%;
  top: 68.94%;
  background-color: #feca57;
  mix-blend-mode: normal;
}
.barsDiv,
.rectangleCopy7 {
  position: absolute;
  height: 7.77%;
  width: 3.58%;
  top: 15.03%;
  right: 90.71%;
  bottom: 77.2%;
  left: 5.7%;
}
.rectangleCopy7 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-color: #2798f7;
  mix-blend-mode: normal;
}
.rectangleCopy8 {
  height: 79.68%;
  top: 20.32%;
  background-color: #feca57;
  mix-blend-mode: normal;
}
.rectangleCopy16,
.rectangleCopy8,
.rectangleCopy9 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangleCopy9 {
  height: 64.14%;
  top: 35.86%;
  background-color: #f80d38;
  mix-blend-mode: normal;
}
.rectangleCopy16 {
  height: 44.22%;
  top: 55.78%;
  background-color: #763cef;
}
.barsDiv1 {
  position: absolute;
  height: 12.12%;
  width: 3.58%;
  top: 10.69%;
  right: 79.9%;
  bottom: 77.2%;
  left: 16.52%;
}
.rectangleCopy71 {
  height: 100%;
  top: 0;
  border-radius: 12px;
  background-color: #100db1;
  mix-blend-mode: normal;
}
.rectangleCopy161,
.rectangleCopy71,
.rectangleCopy81 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.rectangleCopy81 {
  height: 79.68%;
  top: 20.32%;
  background-color: #763cef;
  mix-blend-mode: normal;
}
.rectangleCopy161 {
  height: 44.22%;
  top: 55.78%;
  background-color: #feca57;
}
.barsDiv2 {
  position: absolute;
  height: 12.12%;
  width: 3.58%;
  top: 10.69%;
  right: 47.07%;
  bottom: 77.2%;
  left: 49.34%;
}
.rectangleCopy21,
.rectangleCopy22 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: normal;
}
.rectangleCopy21 {
  height: 100%;
  top: 0;
  border-radius: 12px;
  background-color: #f80d38;
}
.rectangleCopy22 {
  height: 71.68%;
  top: 28.32%;
  background-color: #2798f7;
}
.rectangleCopy24,
.rectangleCopy28 {
  position: absolute;
  height: 35.84%;
  width: 100%;
  top: 53.41%;
  right: 0;
  bottom: 10.75%;
  left: 0;
  background-color: #feca57;
}
.rectangleCopy28 {
  height: 15.41%;
  top: 84.59%;
  bottom: 0;
  background-color: #100db1;
  mix-blend-mode: normal;
}
.barsDiv3 {
  position: absolute;
  height: 13.47%;
  width: 3.58%;
  top: 9.38%;
  right: 57.71%;
  bottom: 77.15%;
  left: 38.7%;
}
.rectangleCopy221 {
  position: absolute;
  height: 71.68%;
  width: 100%;
  top: 28.32%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #763cef;
  mix-blend-mode: normal;
}
.rectangleCopy241,
.rectangleCopy281 {
  position: absolute;
  height: 35.84%;
  width: 100%;
  top: 53.41%;
  right: 0;
  bottom: 10.75%;
  left: 0;
  background-color: #2798f7;
}
.rectangleCopy281 {
  height: 15.41%;
  top: 84.59%;
  bottom: 0;
  background-color: #feca57;
  mix-blend-mode: normal;
}
.barsDiv4 {
  position: absolute;
  height: 13.47%;
  width: 3.58%;
  top: 9.38%;
  right: 25.21%;
  bottom: 77.15%;
  left: 71.2%;
}
.rectangleCopy17,
.rectangleCopy19 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  mix-blend-mode: normal;
}
.rectangleCopy17 {
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: 12px;
  background-color: #100db1;
  opacity: 0.8;
}
.rectangleCopy19 {
  height: 67.84%;
  top: 26.32%;
  bottom: 5.85%;
  background-color: #feca57;
}
.rectangleCopy20,
.rectangleCopy27 {
  position: absolute;
  height: 39.47%;
  width: 100%;
  top: 60.53%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #763cef;
}
.rectangleCopy27 {
  height: 14.62%;
  top: 85.38%;
  background-color: #f80d38;
  mix-blend-mode: normal;
}
.barsDiv5 {
  position: absolute;
  height: 16.51%;
  width: 3.58%;
  top: 6.29%;
  right: 68.77%;
  bottom: 77.2%;
  left: 27.64%;
}
.rectangleCopy191 {
  position: absolute;
  height: 67.84%;
  width: 100%;
  top: 26.32%;
  right: 0;
  bottom: 5.85%;
  left: 0;
  background-color: #100db1;
  mix-blend-mode: normal;
}
.rectangleCopy201,
.rectangleCopy271 {
  position: absolute;
  height: 39.47%;
  width: 100%;
  top: 60.53%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f80d38;
}
.rectangleCopy271 {
  height: 14.62%;
  top: 85.38%;
  background-color: #2798f7;
  mix-blend-mode: normal;
}
.barsDiv6 {
  position: absolute;
  height: 16.51%;
  width: 3.58%;
  top: 6.29%;
  right: 36.28%;
  bottom: 77.2%;
  left: 60.14%;
}
.rectangleDiv,
.rectangleDiv1,
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4,
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  position: absolute;
  top: 295.29px;
  left: 15.27px;
  border-radius: 10px;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
  width: 291.3px;
  height: 46.79px;
}
.rectangleDiv1,
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4,
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  top: 598.59px;
}
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4,
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  top: 402.48px;
  left: 14.71px;
}
.rectangleDiv3,
.rectangleDiv4,
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  top: 705.78px;
}
.rectangleDiv4,
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  top: 347.49px;
  left: 15.27px;
}
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  top: 650.79px;
}
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  top: 454.68px;
  left: 14.71px;
}
.rectangleDiv7,
.rectangleDiv8 {
  top: 757.98px;
}
.rectangleDiv8 {
  top: 559.76px;
  border-radius: 7px;
  height: 29.12px;
}
.groupIcon,
.groupIcon1,
.groupIcon2,
.groupIcon3 {
  position: absolute;
  top: 307.67px;
  left: 287.19px;
  width: 8.74px;
  height: 2.73px;
}
.groupIcon1,
.groupIcon2,
.groupIcon3 {
  top: 610.97px;
}
.groupIcon2,
.groupIcon3 {
  top: 414.85px;
  left: 286.62px;
}
.groupIcon3 {
  top: 718.15px;
}
.groupIcon4,
.groupIcon5,
.groupIcon6,
.groupIcon7 {
  position: absolute;
  top: 359.87px;
  left: 287.19px;
  width: 8.74px;
  height: 2.73px;
}
.groupIcon5,
.groupIcon6,
.groupIcon7 {
  top: 663.17px;
}
.groupIcon6,
.groupIcon7 {
  top: 467.05px;
  left: 286.62px;
}
.groupIcon7 {
  top: 770.35px;
}
.maskGroupIcon,
.maskGroupIcon1,
.maskGroupIcon2,
.maskGroupIcon3 {
  position: absolute;
  top: 305.57px;
  left: 25.42px;
  width: 25.82px;
  height: 25.82px;
}
.maskGroupIcon1,
.maskGroupIcon2,
.maskGroupIcon3 {
  top: 357.77px;
}
.maskGroupIcon2,
.maskGroupIcon3 {
  top: 412.76px;
  left: 24.86px;
}
.maskGroupIcon3 {
  top: 463.96px;
}
.maskGroupIcon4,
.maskGroupIcon5,
.maskGroupIcon6,
.maskGroupIcon7 {
  position: absolute;
  top: 608.87px;
  left: 25.42px;
  width: 25.82px;
  height: 25.82px;
}
.maskGroupIcon5,
.maskGroupIcon6,
.maskGroupIcon7 {
  top: 661.28px;
}
.maskGroupIcon6,
.maskGroupIcon7 {
  top: 716.06px;
  left: 24.86px;
}
.maskGroupIcon7 {
  top: 768.26px;
}
.rectangleCopy282,
.rectangleCopy29 {
  position: absolute;
  height: 0.31%;
  width: 3.58%;
  top: 22.55%;
  right: 15.87%;
  bottom: 77.15%;
  left: 80.55%;
  background-color: #100db1;
  mix-blend-mode: normal;
}
.rectangleCopy29 {
  right: 5.2%;
  left: 91.21%;
}
.appointmentsDiv {
  position: absolute;
  top: 158.71px;
  left: 1071.96px;
  width: 323.4px;
  height: 825.96px;
}
.ellipseIcon13,
.ellipseIcon14,
.ellipseIcon15 {
  position: absolute;
  top: 85.37px;
  left: 22.62px;
  width: 27.99px;
  height: 27.99px;
}
.ellipseIcon14,
.ellipseIcon15 {
  top: 139.09px;
}
.ellipseIcon15 {
  top: 192.81px;
}
.rectangleDiv9,
.rectangleIcon1 {
  position: absolute;
  top: 13.87px;
  left: 547.9px;
  width: 56.62px;
  height: 22.46px;
}
.rectangleDiv9 {
  top: 0;
  left: 0;
  border-radius: 15px;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
  width: 759.04px;
  height: 288.53px;
}
.searchDoctorsByNameOrTitl {
  position: absolute;
  top: 22.1px;
  left: 312.37px;
  font-size: 6px;
  display: inline-block;
}
.aLLB,
.dOCTORSB,
.mENB,
.wOMENB {
  position: absolute;
  top: 19.33px;
  left: 569.21px;
  display: inline-block;
}
.dOCTORSB,
.mENB,
.wOMENB {
  left: 629.98px;
}
.dOCTORSB,
.wOMENB {
  left: 690.94px;
}
.dOCTORSB {
  top: 17.6px;
  left: 15.88px;
}
.rectangleDiv10,
.rectangleDiv11,
.rectangleDiv12 {
  position: absolute;
  top: 13.39px;
  left: 547.9px;
  border-radius: 5px;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
  width: 193.89px;
  height: 23.43px;
}
.rectangleDiv11,
.rectangleDiv12 {
  top: 14.66px;
  left: 294.23px;
  width: 247.25px;
}
.rectangleDiv12 {
  top: 248.04px;
  left: 336.83px;
  border-radius: 30px;
  background-color: #050517;
  border: 1px solid #e7e7e7;
  width: 103.49px;
  height: 23px;
}
.groupIcon8 {
  position: absolute;
  top: 23.64px;
  left: 301.29px;
  width: 7.28px;
  height: 6.87px;
}
.gOTODOCTORS {
  position: absolute;
  top: 253.54px;
  left: 355.57px;
  display: inline-block;
}
.lineDiv4,
.lineDiv5 {
  position: absolute;
  top: 13.37px;
  left: 603.44px;
  border-right: 1px solid #3d3d3d;
  box-sizing: border-box;
  width: 1px;
  height: 23.46px;
}
.lineDiv5 {
  left: 672.93px;
}
.drBridgetOlowojeje1,
.drEbukaKelechi1,
.drIbrahimYekeni2 {
  position: absolute;
  top: 93.56px;
  left: 55.49px;
  display: inline-block;
}
.drBridgetOlowojeje1,
.drEbukaKelechi1 {
  top: 147.28px;
}
.drBridgetOlowojeje1 {
  top: 201px;
}
.bOOKEDAPPOINTMENTS,
.bOOKNEWAPPOINTMENTS,
.cHATB,
.nAMEB,
.rOLEB {
  position: absolute;
  top: 58.59px;
  left: 31.96px;
  font-size: 6px;
  display: inline-block;
}
.bOOKEDAPPOINTMENTS,
.bOOKNEWAPPOINTMENTS,
.cHATB,
.rOLEB {
  left: 164.76px;
}
.bOOKEDAPPOINTMENTS,
.bOOKNEWAPPOINTMENTS,
.cHATB {
  left: 294.55px;
}
.bOOKNEWAPPOINTMENTS,
.cHATB {
  left: 482.35px;
}
.bOOKNEWAPPOINTMENTS {
  left: 614.15px;
}
.familyDoctorB,
.healthSpecialistB,
.heartSurgeonB {
  position: absolute;
  top: 93.36px;
  left: 165.94px;
  display: inline-block;
}
.familyDoctorB,
.healthSpecialistB {
  top: 147.08px;
}
.familyDoctorB {
  top: 200.8px;
}
.b,
.b1 {
  left: 328.86px;
  color: #f80d38;
}
.b {
  position: absolute;
  top: 93.56px;
  display: inline-block;
}
.b1 {
  top: 147.28px;
}
.b1,
.b2,
.bOOK,
.bOOK1 {
  position: absolute;
  display: inline-block;
}
.b2 {
  top: 201px;
  left: 328.86px;
  color: #f80d38;
}
.bOOK,
.bOOK1 {
  top: 93.56px;
  left: 642.65px;
}
.bOOK1 {
  top: 147.28px;
}
.rectangleIcon2,
.rectangleIcon3,
.rectangleIcon4 {
  position: absolute;
  top: 76.17px;
  left: 13.54px;
  border-radius: 10px;
  width: 731.97px;
  height: 46.79px;
}
.rectangleIcon3,
.rectangleIcon4 {
  top: 129.89px;
}
.rectangleIcon4 {
  top: 183.61px;
}
.groupIcon10,
.groupIcon11,
.groupIcon9 {
  position: absolute;
  top: 98.2px;
  left: 717.65px;
  width: 8.74px;
  height: 2.73px;
}
.groupIcon10,
.groupIcon11 {
  top: 151.91px;
}
.groupIcon11 {
  top: 205.63px;
}
.rectangleDiv13 {
  top: 91.11px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.rectangleDiv13,
.rectangleDiv14,
.rectangleDiv15 {
  position: absolute;
  left: 626.19px;
  border-radius: 8.26px;
  width: 56.92px;
  height: 16.51px;
}
.rectangleDiv14 {
  top: 144.83px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.rectangleDiv15 {
  top: 198.54px;
  background-color: #100db1;
}
.bOOKED {
  position: absolute;
  top: 201px;
  left: 637.65px;
  display: inline-block;
}
.maskGroupIcon10,
.maskGroupIcon8,
.maskGroupIcon9 {
  position: absolute;
  top: 86.45px;
  left: 23.7px;
  width: 25.82px;
  height: 25.82px;
}
.maskGroupIcon10,
.maskGroupIcon9 {
  top: 140.17px;
}
.maskGroupIcon10 {
  top: 193.89px;
}
.groupIcon12,
.groupIcon13,
.groupIcon14 {
  position: absolute;
  height: 4.16%;
  width: 1.58%;
  top: 31.95%;
  right: 34.54%;
  bottom: 63.89%;
  left: 63.88%;
  max-width: 100%;
  max-height: 100%;
}
.groupIcon13,
.groupIcon14 {
  top: 69.59%;
  bottom: 26.25%;
}
.groupIcon14 {
  top: 51.05%;
  bottom: 44.8%;
}
.doctorsDiv {
  position: absolute;
  top: 696.14px;
  left: 290.13px;
  width: 759.04px;
  height: 288.53px;
}
.rectangleDiv16,
.rectangleIcon5 {
  position: absolute;
  left: 0;
  width: 270.74px;
}
.rectangleIcon5 {
  top: 0;
  border-radius: 20px;
  height: 984.67px;
}
.rectangleDiv16 {
  top: 122.72px;
  background-color: #dfe0e2;
  height: 49.72px;
}
.overviewB {
  position: absolute;
  top: 138.58px;
  left: 72.73px;
  display: inline-block;
  color: #100db1;
}
.aCCOUNTB,
.appointmentsDiv1,
.doctorsDiv1 {
  position: absolute;
  top: 209.49px;
  left: 72.73px;
  display: inline-block;
}
.aCCOUNTB,
.doctorsDiv1 {
  top: 488.74px;
  left: 31.56px;
}
.doctorsDiv1 {
  top: 279.64px;
  left: 72.73px;
}
.chatsDiv,
.logoutB,
.pathologyResultsDiv,
.settingsDiv {
  position: absolute;
  top: 350.49px;
  left: 72.73px;
  display: inline-block;
}
.chatsDiv,
.logoutB,
.settingsDiv {
  top: 421.13px;
}
.logoutB,
.settingsDiv {
  top: 548.39px;
}
.logoutB {
  top: 619.31px;
  color: #f80d38;
}
.bottomCutterDiv,
.topCutterDiv {
  position: absolute;
  top: 86.62px;
  left: -0.5px;
  border-top: 1px solid #d3d3d3;
  box-sizing: border-box;
  width: 271.74px;
  height: 1px;
}
.bottomCutterDiv {
  top: 896.72px;
}
.emergencyHotlines {
  font-weight: 700;
}
.emergencyHotlinesP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.p {
  margin: 0;
  font-size: 10px;
  color: #fff;
}
.emergencyHotlines2349292 {
  position: absolute;
  top: 924.34px;
  left: 69.87px;
  white-space: pre-wrap;
  display: inline-block;
  color: #f80d38;
}
.rectangleDiv17 {
  position: absolute;
  top: 925.03px;
  left: 31.56px;
  border-radius: 5px;
  background-color: #100db1;
  width: 27.64px;
  height: 32.32px;
}
.groupIcon15 {
  position: absolute;
  height: 1.56%;
  width: 5.68%;
  top: 94.77%;
  right: 80.4%;
  bottom: 3.67%;
  left: 13.92%;
  max-width: 100%;
  max-height: 100%;
}
.expandIcon,
.logoIcon {
  position: absolute;
  top: 20.92px;
  left: 29.9px;
  width: 126.35px;
  height: 46.05px;
}
.expandIcon {
  top: 38.44px;
  left: 218.84px;
  width: 27.56px;
  height: 10.25px;
}
.groupIcon16,
.groupIcon17,
.groupIcon18 {
  position: absolute;
  height: 1.93%;
  width: 7.02%;
  top: 13.96%;
  right: 80.07%;
  bottom: 84.11%;
  left: 12.91%;
  max-width: 100%;
  max-height: 100%;
}
.groupIcon17,
.groupIcon18 {
  top: 21.15%;
  right: 80.2%;
  bottom: 76.92%;
  left: 12.79%;
}
.groupIcon18 {
  height: 1.72%;
  width: 4.82%;
  top: 28.4%;
  right: 81.17%;
  bottom: 69.88%;
  left: 14.01%;
}
.groupIcon19,
.groupIcon20,
.groupIcon21,
.groupIcon22 {
  position: absolute;
  height: 1.62%;
  width: 5.91%;
  top: 35.7%;
  right: 80.63%;
  bottom: 62.68%;
  left: 13.46%;
  max-width: 100%;
  max-height: 100%;
}
.groupIcon20,
.groupIcon21,
.groupIcon22 {
  height: 1.42%;
  width: 5.54%;
  top: 42.99%;
  right: 81%;
  bottom: 55.59%;
}
.groupIcon21,
.groupIcon22 {
  top: 55.9%;
  right: 80.81%;
  bottom: 42.68%;
  left: 13.65%;
}
.groupIcon22 {
  width: 6.28%;
  top: 63.1%;
  right: 80.44%;
  bottom: 35.48%;
  left: 13.28%;
}
.rectangleDiv18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #f80d38;
  width: 19.03px;
  height: 14.81px;
}
.b3 {
  position: absolute;
  top: 1.41px;
  left: 5.52px;
  display: inline-block;
}
.groupDiv,
.sideBarDiv {
  position: absolute;
  top: 424.17px;
  left: 226.5px;
  width: 19.03px;
  height: 14.81px;
  font-size: 8px;
}
.sideBarDiv {
  top: 0;
  left: 0;
  width: 270.74px;
  height: 984.67px;
  font-size: 12px;
}
.rectangleDiv19,
.rectangleDiv20 {
  position: absolute;
  top: 11.25px;
  left: 962.08px;
  border-radius: 10px;
  background-color: #f5dee5;
  width: 34.56px;
  height: 16.5px;
}
.rectangleDiv20 {
  left: 980.26px;
  border-radius: 8.19px;
  background-color: #f80d38;
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25);
  width: 16.39px;
}
.howreYouFeelingToday {
  margin: 0;
  font-size: 11px;
  color: #fff;
}
.applyLightTheme,
.welcomeBoluwatifeHowreYou {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.applyLightTheme {
  top: 12px;
  left: 1002.16px;
  font-size: 10px;
  color: #fff;
}
.groupIcon23 {
  position: absolute;
  top: 9.27px;
  left: 918.93px;
  width: 19.24px;
  height: 19.24px;
}
.otherContentsDiv {
  position: absolute;
  top: 101.95px;
  left: 290.13px;
  width: 1094.16px;
  height: 37px;
  font-size: 13px;
  color: #f80d38;
}
.rectangleIcon6,
.rectangleIcon7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 1105.22px;
  height: 87.12px;
}
.rectangleIcon7 {
  top: 20.92px;
  left: 24.36px;
  border-radius: 10px;
  width: 834.75px;
  height: 45.27px;
}
.lineDiv6 {
  position: absolute;
  top: 28.67px;
  left: 910.82px;
  border-right: 1px solid #d3d3d3;
  box-sizing: border-box;
  width: 1px;
  height: 26.77px;
}
.searchPathologyResults {
  position: absolute;
  top: 35.55px;
  left: 54.96px;
  color: #343434;
  display: inline-block;
}
.olaBoluwatife,
.pATIENTDiv {
  position: absolute;
  left: 985.05px;
  display: inline-block;
}
.olaBoluwatife {
  top: 24.93px;
  font-size: 12px;
}
.pATIENTDiv {
  top: 42.93px;
}
.ellipseIcon16,
.maskGroupIcon11 {
  position: absolute;
  top: 20.43px;
  left: 932.68px;
  width: 42px;
  height: 42px;
}
.maskGroupIcon11 {
  top: 22px;
  left: 934.25px;
  width: 38.86px;
  height: 38.86px;
}
.oval139Icon,
.path871Icon {
  position: absolute;
  top: 36.72px;
  left: 35.17px;
  width: 11.2px;
  height: 11.2px;
}
.path871Icon {
  top: 45.8px;
  left: 43.97px;
  width: 5.75px;
  height: 4.6px;
}
.ellipseIcon17,
.groupIcon24 {
  position: absolute;
  height: 26.18%;
  width: 2.06%;
  top: 31.89%;
  right: 18.87%;
  bottom: 41.94%;
  left: 79.06%;
  max-width: 100%;
  max-height: 100%;
}
.groupIcon24 {
  height: 17.22%;
  width: 1.36%;
  top: 37.12%;
  right: 19.25%;
  bottom: 45.67%;
  left: 79.39%;
}
.navigationBarDiv {
  position: absolute;
  top: 0;
  left: 290.13px;
  width: 1105.22px;
  height: 87.12px;
  font-size: 10px;
}
.rectangleDiv21 {
  position: absolute;
  top: 0.84px;
  left: 0;
  border-radius: 15px;
  background-color: #050517;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
  width: 499.58px;
  height: 285.7px;
}
.cOVID19PANDEMIC {
  position: absolute;
  top: 14.15px;
  left: 15.88px;
  display: inline-block;
}
.selectTheCountries {
  left: 13.88px;
  color: #100db1;
}
.allB,
.chinaB,
.selectTheCountries,
.uSAB {
  position: absolute;
  top: 266.56px;
  display: inline-block;
}
.allB {
  left: 146.29px;
  color: #100db1;
}
.chinaB,
.uSAB {
  left: 170.04px;
}
.chinaB {
  left: 199.79px;
}
.australiaB,
.bostwana,
.mB,
.mB1,
.rECOVERYZONESB,
.uKB {
  position: absolute;
  top: 266.56px;
  left: 237.54px;
  display: inline-block;
}
.bostwana,
.mB,
.mB1,
.rECOVERYZONESB,
.uKB {
  left: 288.28px;
}
.bostwana,
.mB,
.mB1,
.rECOVERYZONESB {
  left: 313.03px;
}
.mB,
.mB1,
.rECOVERYZONESB {
  top: 34.69px;
  left: 388.81px;
  font-size: 10px;
}
.mB,
.mB1 {
  top: 50.49px;
  color: #100db1;
}
.mB1 {
  top: 111.49px;
  color: #feca57;
}
.mB2 {
  top: 173.4px;
  color: #f80d38;
}
.aFFECTEDZONESB,
.mB2,
.mB3,
.nUETRALZONESB,
.sAFEZONEB {
  position: absolute;
  left: 388.81px;
  font-size: 10px;
  display: inline-block;
}
.mB3 {
  top: 235.31px;
  color: #763cef;
}
.aFFECTEDZONESB,
.nUETRALZONESB,
.sAFEZONEB {
  top: 95.69px;
}
.aFFECTEDZONESB,
.sAFEZONEB {
  top: 156.69px;
}
.sAFEZONEB {
  top: 218.6px;
}
.mapIcon,
.pointsIcon {
  position: absolute;
  height: 56.58%;
  width: 61.3%;
  top: 18.57%;
  right: 31.98%;
  bottom: 24.84%;
  left: 6.72%;
  max-width: 100%;
  max-height: 100%;
}
.mapIcon {
  height: 72.34%;
  width: 70.56%;
  top: 14.18%;
  right: 27.72%;
  bottom: 13.48%;
  left: 1.72%;
  opacity: 0.67;
  mix-blend-mode: normal;
}
.lineDiv7,
.lineDiv8 {
  position: absolute;
  box-sizing: border-box;
  opacity: 0.5;
}
.lineDiv7 {
  top: -0.5px;
  left: 369.22px;
  border-right: 1px solid #3d3d3d;
  width: 1px;
  height: 287.54px;
}
.lineDiv8 {
  top: 256.25px;
  left: -0.5px;
  border-top: 1px solid #3d3d3d;
  width: 370.72px;
  height: 1px;
}
.lineDiv10,
.lineDiv11,
.lineDiv12,
.lineDiv13,
.lineDiv9 {
  position: absolute;
  top: 255.75px;
  left: 145.29px;
  border-top: 2px solid #100db1;
  box-sizing: border-box;
  width: 13.07px;
  height: 2px;
}
.lineDiv10,
.lineDiv11,
.lineDiv12,
.lineDiv13 {
  top: 66.2px;
  left: 387.81px;
  width: 48.28px;
}
.lineDiv11,
.lineDiv12,
.lineDiv13 {
  top: 127.2px;
  border-top: 2px solid #feca57;
}
.lineDiv12,
.lineDiv13 {
  top: 189.11px;
  border-top: 2px solid #f80d38;
}
.lineDiv13 {
  top: 251.02px;
  border-top: 2px solid #763cef;
}
.covid19Div,
.rectangleDiv22 {
  position: absolute;
  top: 385.2px;
  left: 290.13px;
  width: 499.58px;
  height: 286.54px;
}
.rectangleDiv22 {
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #050517;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
  width: 240.12px;
  height: 204.09px;
}
.dIAGNOSTICSB {
  position: absolute;
  top: 13.49px;
  left: 15.6px;
  font-size: 8px;
  display: inline-block;
}
.ellipseIcon18 {
  position: absolute;
  top: 55.28px;
  left: 81.84px;
  width: 81.26px;
  height: 81.26px;
}
.baseIcon,
.baseIcon1,
.chartIcon {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
.chartIcon {
  height: 52.83%;
  width: 44.9%;
  top: 22.54%;
  right: 26.54%;
  bottom: 24.63%;
  left: 28.55%;
}
.baseIcon,
.baseIcon1 {
  height: calc(100% - 182.7px);
  width: calc(100% - 183.08px);
  top: 70.96px;
  right: 167.56px;
  bottom: 111.74px;
  left: 15.52px;
}
.baseIcon1 {
  width: calc(100% - 179.51px);
  top: 124.43px;
  right: 17.67px;
  bottom: 58.27px;
  left: 161.84px;
}
.sMMB {
  width: 18.77%;
  top: calc(50% - 7.69px - 11.6px);
  right: 39.61%;
  left: 41.62%;
  font-size: 14px;
  line-height: 14px;
  height: 15.39px;
}
.mALARIAB,
.sMMB,
.sMMB1 {
  position: absolute;
  display: inline-block;
}
.sMMB1 {
  width: 13.28%;
  top: calc(50% - 7.69px - -8.87px);
  right: 42.36%;
  left: 44.37%;
  line-height: 14px;
  height: 15.39px;
}
.mALARIAB {
  top: 75.06px;
  left: 23.7px;
  font-size: 8px;
  width: 40.67px;
  height: 13.19px;
}
.cOLDB,
.mALARIAB1,
.oTHERSB,
.oTHERSB1,
.tYPHOIDB {
  position: absolute;
  top: 173.46px;
  left: 42.24px;
  display: inline-block;
}
.cOLDB,
.oTHERSB,
.oTHERSB1,
.tYPHOIDB {
  left: 93.51px;
}
.oTHERSB,
.oTHERSB1,
.tYPHOIDB {
  left: 136.56px;
}
.oTHERSB,
.oTHERSB1 {
  left: 188.61px;
}
.oTHERSB1 {
  top: 128.53px;
  left: 176.78px;
  font-size: 8px;
  width: 34.08px;
  height: 13.19px;
}
.ellipseIcon19 {
  position: absolute;
  top: 174.78px;
  left: 30.09px;
  width: 6.36px;
  height: 6.36px;
}
.diagnosticsDiv,
.ellipseIcon20,
.ellipseIcon21,
.ellipseIcon22 {
  position: absolute;
  top: 174.78px;
  left: 82.55px;
  width: 6.36px;
  height: 6.36px;
}
.diagnosticsDiv,
.ellipseIcon21,
.ellipseIcon22 {
  left: 125.49px;
}
.diagnosticsDiv,
.ellipseIcon22 {
  left: 178.53px;
}
.diagnosticsDiv {
  top: 158.71px;
  left: 290.13px;
  width: 240.12px;
  height: 204.09px;
  font-size: 6px;
}
.hEALTHINDEXB {
  top: 13.49px;
  left: 13.88px;
  font-size: 8px;
}
.hEALTHINDEXB,
.patienceHealthRate,
.sMMB2 {
  position: absolute;
  display: inline-block;
  text-align: left;
}
.patienceHealthRate {
  top: 72.51px;
  left: 13.88px;
  font-size: 6px;
}
.sMMB2 {
  width: 23.28%;
  top: calc(50% - 15.37px - 45.91px);
  right: 70.94%;
  left: 5.78%;
  font-size: 28px;
  line-height: 14px;
  height: 30.73px;
}
.curveIcon,
.pointIcon {
  position: absolute;
  height: 73.29%;
  width: 100%;
  top: 26.31%;
  right: 0;
  bottom: 0.41%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.pointIcon {
  height: 13.56%;
  width: 11.52%;
  top: 35.97%;
  right: 29.08%;
  bottom: 50.47%;
  left: 59.39%;
}
.aprilB2,
.julyB4,
.julyB5,
.julyB6,
.julyB7,
.juneB1,
.mayB2 {
  position: absolute;
  width: 7.5%;
  top: calc(50% - 10.5px - -87.73px);
  right: 86.72%;
  left: 5.78%;
  line-height: 21px;
  display: inline-block;
}
.julyB4,
.julyB5,
.julyB6,
.julyB7,
.juneB1,
.mayB2 {
  width: 6.66%;
  right: 72.76%;
  left: 20.57%;
}
.julyB4,
.julyB5,
.julyB6,
.julyB7,
.juneB1 {
  width: 6.25%;
  right: 59.22%;
  left: 34.53%;
}
.julyB4,
.julyB5,
.julyB6,
.julyB7 {
  width: 7.08%;
  right: 44.85%;
  left: 48.07%;
}
.julyB5,
.julyB6,
.julyB7 {
  width: 5.41%;
  right: 32.14%;
  left: 62.45%;
}
.julyB6,
.julyB7 {
  width: 6.25%;
  right: 18.59%;
  left: 75.16%;
}
.julyB7 {
  width: 5.83%;
  right: 5.47%;
  left: 88.7%;
}
.groupIcon25 {
  position: absolute;
  height: 12.66%;
  width: 8.93%;
  top: 21.56%;
  right: 61.51%;
  bottom: 65.78%;
  left: 29.56%;
  max-width: 100%;
  max-height: 100%;
}
.shape1Div,
.shape2Div,
.shape3Div,
.shape4Div,
.shape5Div,
.shape6Div,
.shape7Div {
  position: absolute;
  height: 11.59%;
  width: 1.78%;
  top: 75.36%;
  right: 89.58%;
  bottom: 13.04%;
  left: 8.64%;
  border-radius: 55px 55px 0 0;
  background-color: #2798f7;
}
.shape2Div,
.shape3Div,
.shape4Div,
.shape5Div,
.shape6Div,
.shape7Div {
  height: 19.61%;
  top: 67.34%;
  right: 75.21%;
  left: 23.01%;
}
.shape3Div,
.shape4Div,
.shape5Div,
.shape6Div,
.shape7Div {
  height: 27.23%;
  top: 59.73%;
  right: 61.45%;
  left: 36.76%;
}
.shape4Div,
.shape5Div,
.shape6Div,
.shape7Div {
  height: 39.46%;
  top: 47.5%;
  right: 47.5%;
  left: 50.72%;
}
.shape5Div,
.shape6Div,
.shape7Div {
  height: 36.32%;
  top: 50.64%;
  right: 33.95%;
  left: 64.26%;
}
.shape6Div,
.shape7Div {
  height: 0.49%;
  top: 86.96%;
  right: 20.83%;
  bottom: 12.55%;
  left: 77.39%;
}
.shape7Div {
  right: 7.49%;
  left: 90.73%;
}
.healthIndexDiv {
  position: absolute;
  top: 158.71px;
  left: 809.05px;
  width: 240.12px;
  height: 204.09px;
  text-align: center;
  font-size: 7px;
}
.pATIENTSB {
  position: absolute;
  top: 13.49px;
  left: 15.29px;
  font-size: 8px;
  display: inline-block;
}
.baseIcon2,
.baseIcon3 {
  position: absolute;
  height: calc(100% - 182.7px);
  width: calc(100% - 183.08px);
  top: 110.92px;
  right: 165.41px;
  bottom: 71.78px;
  left: 17.67px;
  max-width: 100%;
  max-height: 100%;
}
.baseIcon3 {
  width: calc(100% - 179.51px);
  top: 36.14px;
  right: 18.86px;
  bottom: 146.56px;
  left: 160.66px;
}
.sMMB3 {
  width: 18.77%;
  top: calc(50% - 7.69px - 19.94px);
  right: 40.62%;
  left: 40.62%;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  height: 15.39px;
}
.mENB1,
.sMMB3,
.sMMB4 {
  position: absolute;
  display: inline-block;
}
.sMMB4 {
  width: 13.28%;
  top: calc(50% - 7.69px - -0.54px);
  right: 43.36%;
  left: 43.36%;
  line-height: 14px;
  height: 15.39px;
}
.mENB1 {
  top: 115.02px;
  left: 25.86px;
  font-size: 8px;
  text-align: center;
  width: 40.67px;
  height: 13.19px;
}
.b4,
.b5,
.b6,
.cHILDRENB,
.mENB2,
.wOMENB1,
.wOMENB2 {
  position: absolute;
  top: 149.74px;
  left: 80.62px;
  display: inline-block;
}
.b4,
.b5,
.b6,
.cHILDRENB,
.wOMENB1,
.wOMENB2 {
  left: 158.66px;
}
.b5,
.b6,
.cHILDRENB,
.wOMENB1,
.wOMENB2 {
  top: 165.26px;
}
.b6,
.cHILDRENB,
.wOMENB1,
.wOMENB2 {
  top: 180.77px;
}
.cHILDRENB,
.wOMENB1,
.wOMENB2 {
  top: 165.26px;
  left: 80.62px;
}
.cHILDRENB,
.wOMENB2 {
  top: 180.77px;
}
.wOMENB2 {
  top: 40.24px;
  left: 175.6px;
  font-size: 8px;
  width: 34.08px;
  height: 13.19px;
}
.chartIcon1,
.ellipseIcon23,
.ellipseIcon24,
.ellipseIcon25 {
  position: absolute;
  top: 151.06px;
  left: 68.46px;
  width: 6.36px;
  height: 6.36px;
}
.chartIcon1,
.ellipseIcon24,
.ellipseIcon25 {
  top: 166.58px;
}
.chartIcon1,
.ellipseIcon25 {
  top: 182.09px;
}
.chartIcon1 {
  height: 52.83%;
  width: 44.9%;
  top: 18.48%;
  right: 27.55%;
  bottom: 28.69%;
  left: 27.55%;
  max-width: 100%;
  max-height: 100%;
}
.patientsDiv,
.rectangleDiv25 {
  position: absolute;
  width: 240.12px;
}
.patientsDiv {
  top: 158.71px;
  left: 549.82px;
  height: 204.09px;
  font-size: 6px;
}
.rectangleDiv25 {
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: #050517;
  border: 1px solid #3d3d3d;
  box-sizing: border-box;
  height: 288.53px;
}
.cAUSESRANGEB {
  position: absolute;
  top: 15.14px;
  left: 13.55px;
  font-size: 8px;
  display: inline-block;
}
.cOLDB1,
.cOUGHB,
.mALARIAB2,
.sEVEREHEADACHEB,
.tYPHOIDB1 {
  position: absolute;
  top: 237.69px;
  left: 36.57px;
  display: inline-block;
}
.cOLDB1,
.cOUGHB,
.sEVEREHEADACHEB,
.tYPHOIDB1 {
  left: 106.18px;
}
.cOUGHB,
.sEVEREHEADACHEB,
.tYPHOIDB1 {
  left: 181.91px;
}
.cOUGHB,
.sEVEREHEADACHEB {
  top: 256.03px;
  left: 105.93px;
}
.cOUGHB {
  left: 34.49px;
}
.ellipseIcon26 {
  position: absolute;
  top: 239.01px;
  left: 24.41px;
  width: 6.36px;
  height: 6.36px;
}
.ellipseIcon27,
.ellipseIcon28,
.ellipseIcon29,
.ellipseIcon30,
.path2Icon {
  position: absolute;
  top: 239.01px;
  left: 95.22px;
  width: 6.36px;
  height: 6.36px;
}
.ellipseIcon28,
.ellipseIcon29,
.ellipseIcon30,
.path2Icon {
  left: 170.84px;
}
.ellipseIcon29,
.ellipseIcon30,
.path2Icon {
  top: 257.35px;
  left: 95.85px;
}
.ellipseIcon30,
.path2Icon {
  left: 24.41px;
}
.path2Icon {
  height: 44.61%;
  width: 70.68%;
  top: 28.96%;
  right: 15.19%;
  bottom: 26.43%;
  left: 14.12%;
  max-width: 100%;
  max-height: 100%;
}
.ellipseIcon31,
.ellipseIcon32 {
  position: absolute;
  top: 86.36px;
  left: 37.9px;
  width: 6.36px;
  height: 6.36px;
}
.ellipseIcon32 {
  top: 85.56px;
  left: 191.24px;
}
.ellipseIcon33,
.ellipseIcon34,
.ellipseIcon35 {
  position: absolute;
  top: 144.18px;
  left: 87.27px;
  width: 6.36px;
  height: 6.36px;
}
.ellipseIcon34,
.ellipseIcon35 {
  top: 163.37px;
  left: 173.54px;
}
.ellipseIcon35 {
  top: 197.34px;
  left: 113.48px;
}
.polygonIcon,
.polygonIcon1,
.polygonIcon2,
.polygonIcon3 {
  position: absolute;
  height: 63.81%;
  width: 67.8%;
  top: 15.34%;
  right: 17.1%;
  bottom: 20.85%;
  left: 15.1%;
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
}
.polygonIcon1,
.polygonIcon2,
.polygonIcon3 {
  height: 50.48%;
  width: 53.93%;
  top: 22%;
  right: 24.04%;
  bottom: 27.52%;
  left: 22.03%;
}
.polygonIcon2,
.polygonIcon3 {
  height: 35.84%;
  width: 38.69%;
  top: 29.32%;
  right: 31.66%;
  bottom: 34.84%;
  left: 29.65%;
}
.polygonIcon3 {
  height: 23.79%;
  width: 26.15%;
  top: 35.35%;
  right: 37.93%;
  bottom: 40.86%;
  left: 35.92%;
}
.causesRangeDiv {
  position: absolute;
  top: 383.21px;
  left: 810.78px;
  width: 240.12px;
  height: 288.53px;
  font-size: 6px;
}
.patientsDashboardOverviewDa1 {
  position: absolute;
  top: 19.66px;
  left: 22.38px;
  width: 1395.35px;
  height: 984.67px;
}
.patientsDashboardOverviewDa {
  position: relative;
  background-color: #050517;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 8px;
  color: #fff;
  font-family: Poppins;
}
